body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto";
}
html {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,61,1) 35%, rgba(140,8,140,1) 72%, rgba(0,212,255,1) 100%);
}
#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 70%;
    height: 70%;
}
.SignUpForm {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-group {
    display: flex;
    gap: 15px;
    flex-flow: row-reverse;
    margin-top: 25px;
}